@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.themeContainer {
    position: fixed;
    top: 18px;
    left: 8px;
}

.dark-mode {
    background-color: #272932;
}

.mainbar.nav-dark-mode{
    background-color: #24262e;
    box-shadow: 0 0 0.3125em #2d2f38;
}

.mainbar {
    width: 31.25em;
    height: 1.625em;
    background-color: #E8E9EB;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.3125em #ccc;
    margin: 0 auto;
    padding: 0.9375em;
}

.nactive {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #8e40e7;
    background-color: #3c3741;
    border-radius: 0.3125em;
    margin: 0 auto;
    margin-left: 1.5625em;
    padding: 0.6875em;
}

.nactive:hover {
    color: #954ee6;
    background-color: #48424e;
    padding: 0.9375em;
}

.active {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #3c3741;
    background-color: #8e40e7;
    border-radius: 0.3125em;
    margin: 0 auto;
    margin-left: 1.5625em;
    padding: 0.6875em;
}

.active:hover {
    color: #48424e;
    background-color: #954ee6;
    padding: 0.9375em;
}
